<!-- this is a footer place holder -->

<link rel="stylesheet" href="/style.css">
<!-- <img id="home-page-logo" src="./image/mendls-solid.jpeg" alt=""> -->
<div class="nav-bar-container">
    <hr>
    <div class="nav-link-wrapper">
        <div class="nav-link">
            <a href="/">Home</a>
        </div>
        <div class="nav-link">
            <a href="/company-history">Day vist</a>
        </div>
        <div class="nav-link">
            <a href="/past-work">Over night</a>
        </div>
        <div class="nav-link">
            <a href="/staff">Filter</a>
        </div>
        <div class="nav-link">
            <a href="links">Info</a>
        </div>
    </div>
    <hr>
</div>

<!-- create and imprint -->