<meta charset="utf-8">
<link rel="stylesheet" href="/style.css">
<title>Architecture Index  |  <%= tabTitle %> </title>
<link rel="shortcut icon" type="image/png" href="./image/pastry-favicon.png"/>
<link rel="stylesheet" href="/style.css">

<!-- insert a unicode icon -->