<link rel="stylesheet" href="/style.css">
<!-- <img id="home-page-logo" src="./image/mendls-solid.jpeg" alt=""> -->

<div class="nav-bar-container">
    <div class="nav-link-wrapper">   
            <div class="nav-link">
            <form action="/architecture/new">
        <button class="new-button" style="font-size:32px;">&#9532;</button>
      </form>
      <div class="nav-link">
        <a href="sign-in" style="font-size:16px;">Sign out</a>
    </div>
    </div>
    </div>
</div>
