<link rel="stylesheet" href="/style.css">
<!-- <img id="home-page-logo" src="./image/mendls-solid.jpeg" alt=""> -->

<div class="nav-bar-container">
    <div class="nav-link-wrapper">
        <!-- <div class="nav-link"> -->
            <!-- <a href="/">Home</a>
        </div>
        <div class="nav-link">
            <a href="/company-history">History</a>
        </div>
        <div class="nav-link">
            <a href="/past-work">Past Work</a>
        </div>
        <div class="nav-link">
            <a href="/staff">Our Staff</a>
        </div>
        <div class="nav-link">
            <a href="contact">Contact</a>
        </div> -->
        <div class="nav-link">
            <a href="sign-in">Sign out</a>
        </div>
        
            <div class="nav-link">
            <form action="/architecture/new">
        <button class="new-button" style="font-size:32px;"">&#9532;</button>
      </form>
    </div>
    </div>
</div>
