<meta charset="utf-8">
<link rel="stylesheet" href="/style.css">
<title>Architecture Index  |  <%= tabTitle %> </title>
<link rel="icon" type="image/png" href="images/grid.png"/>
<link rel="stylesheet" href="/style.css">

<!-- insert a unicode icon -->