<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Architecture index</title> -->
<%- include ('./partials/head.ejs') %>
</head>
<body>
  <div class="wrapper">
    <header>
      <%- include ('./partials/header.ejs') %>
      <div>
        <button class="nav-button"><a class="text" href="/architecture">Back</a></button>
      </div>
    </header>
    <div class="new-container">
      <ul>
        <li>
          <h1>Add New Architecture</h1>
          <br>
  <!-- <div class="form-container"> -->
    <form action="/architecture" method="POST">
<!-- tags -->
<label for="dayTag">Day visit</label>
<span class="checkbox"><input type="checkbox" name="dayTag"></span><br>
<br>
<label for="dayTag">Overnight stay</label>
<span class="checkbox"><input type="checkbox" name="nightTag"></span><br>
<br>
<input class="edit-input" type="text" name="title" placeholder="Name of building or site"required><br>
<input class="edit-input" type="text" name="architectOne" placeholder="Name of Architect"required><br>
<input type="text" class="edit-input" name="architectTwo" placeholder="Add another Architect"><br>
<input type="text" class="edit-input" name="year" placeholder="Year"><br>
<input type="url" class="edit-input" pattern="https://.*" name="img" placeholder="https://www.copy-image-address.com/"><br>
<input type="text" class="edit-input" name="streetAddress" placeholder="Street address"><br>
<input type="text" class="edit-input" name="city" placeholder="City"><br>
<input type="text" class="edit-input" name="state" placeholder="State"><br>
<input type="text" class="edit-input" name="postalCode" placeholder="Postcode"><br>
<input type="text" class="edit-input" name="country" placeholder="Country"><br>
<input type="url" class="edit-input" name="link" placeholder="http://www.architecture-site.com"><br>
<input type="number" class="edit-input" name="visits" placeholder="Number of times visited"><br>
<input type="submit" class="edit-submit" value="Submit">
      </form>
    </div>


    </div>
  </body>
</html>

<!-- <nav>
      <button type="button" name="button" class = "button"><a class="text" href="/architecture">Go Back</a></button>
    </nav> 
  <h1>Add new architecture</h1> -->