<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Architecture index</title> -->
<%- include ('./partials/head.ejs') %>
</head>
<body>
  <div class="wrapper">
    <header>
      <%- include ('./partials/header.ejs') %>
    </header>
    <nav>
      <button type="button" name="button" class = "button"><a class="text" href="/architecture">Go Back</a></button>
    </nav>
    <h1>Add new architecture</h1>
  <div class="form-container">
    <form action="/architecture" method="POST">
<!-- tags -->
    <input type="checkbox" id="day-visit" name="dayVisit">
      <label for="overnight">Day visit</label><br>
    <input type="checkbox" id="over-night" name="overNight">
      <label for="day-visit">Overnight stay</label><br>

<!-- title, name and address -->
    <input type="text" placeholder="Title of building" name="title">
    <br>
    <input type="text" placeholder="Name of architect" name="architectOne">
    <br>
    <input type="text" placeholder="Add another Architect" name="architectTwo">
    <br>
    <input type="url" id="image" placeholder="Link to image address"
    pattern="https://.*" size="32"name="img">
    <br>
    <input type="text" placeholder="City" name="loc.city">
    <input type="text" placeholder="Postal code" name="loc.postalcode"><br>
    <input type="text" placeholder="Country" name="loc.country"><br>

    <!-- submit new -->
    <input type="submit" value="Submit"><br>
    <!-- <button  type="reset"> </button> -->

      </form>
    </div>


    </div>
  </body>
</html>

<!-- code graveyard----------------- -->

<!-- <input type="checkbox" id="day-visit" name="dayVisit">
<label for="overnight">Day visit</label><br>
<input type="checkbox" id="over-night" name="overNight">
<label for="day-visit">Overnight stay</label><br>

<br>
<input type="text" name="title" placeholder="Title"required> 
<br>
<input type="text" name="architect" placeholder="Architect" required>
<br>
<input type="text" name="year">
<br>
<label for="img">Upload an image</label>
<input type="file" name="img">

  
<br>
<input type="text" name="architecture.loc.streetAddress" placeholder="Street address">
<br>
<input type="text" name="architecture.loc.city" placeholder="City">
<br>
<input type="text" name="architecture.loc.state" placeholder="State">
<br>
<input type="text" name="architecture.loc.postalCode" placeholder="Postal code">
<br>
<input type="text" name="architecture.loc.country" placeholder="Country">
<br>
<input type="url" name="link" placeholder="https://website.com"
pattern="https://.*" size="32"></br><br>


<input type="submit" value="Add new architecture">
<button  type="reset"> Reset </button>
</form>
<br>
<textarea name="notes" id="" cols="30" rows="10" placeholder="Note:"></textarea><br> -->


