<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <header>
      <%- include ('./partials/header.ejs') %>
    </header>
    <h1>New architecture</h1>
    <br>
<form action="/architecture" method="POST">
  
    Id: <input type="text" name="title"><br>
    Name: <input type="text" name="architect"><br>
    Image: <input type="url" id="image" placeholder="https://image-address-here.com"
    pattern="https://.*" size="32"name="img"><br>
    
    Type: <input type="text" name="loc.city"><br>
    Stats: <input type="text" name="loc.country"><br>
    Damages: <input type="text" name="loc.postalcode"><br>
    <input type="submit" value="Create"><br>
    </form>

<!-- <input type="checkbox" id="day-visit" name="dayVisit">
<label for="overnight">Day visit</label><br>
<input type="checkbox" id="over-night" name="overNight">
<label for="day-visit">Overnight stay</label><br>

<br>
<input type="text" name="title" placeholder="Title"required> 
<br>
<input type="text" name="architect" placeholder="Architect" required>
<br>
<input type="text" name="year">
<br>
<label for="img">Upload an image</label>
<input type="file" name="img">

  
<br>
<input type="text" name="architecture.loc.streetAddress" placeholder="Street address">
<br>
<input type="text" name="architecture.loc.city" placeholder="City">
<br>
<input type="text" name="architecture.loc.state" placeholder="State">
<br>
<input type="text" name="architecture.loc.postalCode" placeholder="Postal code">
<br>
<input type="text" name="architecture.loc.country" placeholder="Country">
<br>
<input type="url" name="link" placeholder="https://website.com"
pattern="https://.*" size="32"></br><br>


<input type="submit" value="Add new architecture">
<button  type="reset"> Reset </button>
</form>
<br>
<textarea name="notes" id="" cols="30" rows="10" placeholder="Note:"></textarea><br> -->

    
</body>
</html>


